extends ../../../../../templates/eyenetAdmin

block content
    div.ui.container
        div.padl.padd.padb
            div.ui.segment.eheight
                div.ui.top.attached.large.inverted.green.label Schedule Information
                    i.large.setting.icon
                div.maro
                    div.ui.height3
                        div.ui.container.height
                            table.ui.padded.teal.table
                                tbody
                                    each sched in sched
                                        tr
                                            td.three.wide Course Name
                                            td #{sched.strCName}#{sched.strCDetails}
                                        tr 
                                            td Start Date
                                            td=sched.datStartDate
                                        tr 
                                            td End Date
                                            td=sched.datEndDate
                                        tr
                                            td Remarks
                                            td=sched.strSRemarks
                                        tr
                                            td Proctor Name
                                            td=sched.strProctorName
                                        tr 
                                            td Status
                                            td=sched.strStatusDesc
                                            script.
                                                {
                                                    var eo = document.getElementById("main");
                                                    var et = document.getElementById("sched");
                                                    var ee = document.getElementById("con1");
                                                    ee.classList.add("active")
                                                    eo.classList.add("active");
                                                    et.classList.add("active");
                                                }
                            